<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta name="og:description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta property="og:title" content="{{ settings.metaTitle}}" />
<meta name="twitter:card" content="summary" />
<link rel="icon" href="https://cdn.glitch.global/8ee58cdd-00f3-487a-9396-1d0015adb32f/slyfox-100x100.png?v=1644423139479" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<!--PWA requirements-->
<meta name="theme-color" content="#151A2F"/>
<link rel="apple-touch-icon" href="https://cdn.glitch.global/8ee58cdd-00f3-487a-9396-1d0015adb32f/touch-icon.png?v=1644423040070">

<!-- PWA setup - update public/sw.js if you add your own assets like a new .css file -->
<link rel="manifest" href="manifest.json">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&display=swap" rel="stylesheet">

<script>
if(location.protocol == 'http:') location.protocol = 'https:';
if('serviceWorker' in navigator) {
  navigator.serviceWorker.register('sw.js')
    .then(reg => console.log('Service Worker registered', reg))
    .catch(err => console.error('Service Worker **not** registered', err));
}
else {
  console.warn('Service Worker not supported in this browser');
}    
</script>